.objective-header{
    margin-bottom: 0.9rem;
}

.cancel-button{
    margin-left: 0.5rem;
}

.objective-form-content{
    display: flex;
    flex-direction: column;
}

.error {
    font-size: 0.8rem;
    margin-left: -0.8rem;
  }