.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35%; // 30% on large screens
    background-color: white;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
  
    @media (max-width: 768px) {
      width: 50%; // 50% on tablets
    }
  
    @media (max-width: 480px) {
      width: 97%; // 97% on mobile phones
    }
    @media (max-width: 600px) {
      .user-card {
        max-width: 100%;
        margin: 0;
        border-radius: 0;
      }
    }
  
    .sidebar-content {
      padding: 0.2rem;
    }
  
    .user-card {
      font-family: 'Arial', sans-serif; // Nice font family
      font-size: 16px; // Nice font size
      margin-top: 20px;
      max-width: 100%;
      margin: 0 auto;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: scroll;
    }
  
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #f44336;
      color: #fff;
      transition: background-color 0.3s ease;
      z-index: 10;
    }
  
    table, table > tr{
      padding: 8px 16px;
      background-color: #f5f5f5;
      border-radius: 4px;
      margin-bottom: 8px;
    }
  
    table > tr > td {
      margin-right: 0.2rem;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  
    .wrapper {
      display: flex;
    }
  
    .close-button:hover {
      background-color: #d32f2f;
    }
  
    mat-card-content > p{
      padding-top: 0.5rem;
    }
    mat-card-content > li{
      padding-top: 0.5rem;
    }
  
  }


  .container {
    max-width: 100%;
    margin: auto;
    padding: 0.3rem;
  }
  
  .title {
    margin-bottom: 0.1rem;
    font-size: 1.5rem;
  }
  
  .section {
    margin-bottom: 1.25rem;
  }
  
  .section-title {
    background-color: #babac0;
    color: white;
    padding: 0.4rem;
    font-size: 1rem;
    margin-top: 2rem;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap; // Allow wrapping for responsiveness
    justify-content: space-between;
  }
  
  .form-field {
    flex: 1;
    margin-right: 10px;
    min-width: 100%; // Set a minimum width for form fields
  
    @media (max-width: 600px) {
        margin-right: 0; // Remove right margin on mobile
        width: 100%; // Make fields full width on mobile
    }
  }

  .content{
    margin: 0.8rem 0.3rem;
    padding: 0;
  }

  .log-title{
    margin-top: 1rem;
    margin-left: 0.5rem;
  }

  .form-field-half {
    flex: 1;
    margin-right: 10px;
    max-width: 48%; 
  
    @media (max-width: 600px) {
        margin-right: 0; 
        width: 100%; 
    }
  }
  
  .form-field:last-child, .form-field-half:last-child {
    margin-right: 0;
  }
  
  .error {
    font-size: 0.6rem;
    margin-left: -0.8rem;
    margin-top: -0.3rem;
    margin-bottom: 0.5rem;
  }
  
  .action-buttons {
    display: flex;
    margin-top: 0.5rem;
  }

  .delete-button{
    margin-bottom: 0.4rem;
  }
  
  @media (max-width: 600px) {
    .action-buttons {
        flex-direction: column; // Stack action buttons vertically on mobile
        align-items: center; // Ensure buttons take full width
    }
  
    .action-buttons button {
        margin: 0.1rem 0; // Add margin between buttons
        width: 100%; // Make buttons full width
    }
  }

  